body{
    background-color: #ffec13;
    
}

.summary-card{
    background-color: white;
    width:100%;
    height:80%;
    margin: auto;   
    position: fixed;
    /* top:20px; */
    bottom: 0;
    /* margin-top: 50px; */
    border-radius: 30px 30px 0px 0px;
    /* box-shadow: 10px 10px 30px 2px rgba(255, 255, 255, 0.603); */
}
.inner-summary-card{
    background-color: black;
    width:100%;
    height:20%;
    margin: auto;   
    position: fixed;
    /* top:20px; */
    bottom: 0;
    /* margin-top: 50px; */
    border-radius: 30px 30px 0px 0px;
    /* box-shadow: 10px 10px 30px 2px rgba(255, 255, 255, 0.603); */
}
.top-thing{
    font-weight: bold;
    margin-top:30px;
    margin-left: 20px;
}
.thanks{
    margin-top: 30px;
}
.big{
font-size: 150px;
}
.again{
    margin-left: 100px;
    border-radius: 30px;
    background-color: #ffec13;
    font-size: 30px;

}
.Done{
    background-color: #ffec13;
    width:150px;
    height: 40px;
    border-radius: 30px;
    margin: auto;
}
.done{
    padding-top: 10px;
}
.total{
    color: #ffec13;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.Total{
    margin-top: 30px;
}
.total-no{
    color: white;
}