body{
    /* background-color: #1c87c9; */
    margin: 0;
    padding:0;  
}
.proceed{
    border-radius: 30px;
}
.page-start{
    padding-top: 10%;
    padding-bottom: 10%;
    

}
.buybutton{
        /* display: table-cell; */
        width: 100%;
        height: 50px;
        padding: 10px;
        /* border: 3px dashed #1c87c9; */
        vertical-align: middle;
        background: #1c87c9;
        border-radius: 30px;
        text-align: center;
        position: fixed;
        bottom: 0;

}
.item-image{
    width: 60px; 
    height: 60px;
    border-radius: 50px 50px 50px 50px;
    background-image: url("img/burger.jpg");
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%;
}

.button {
    position: fixed;
    bottom: 0;
    background-color: #ffec13;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    /* height: 80px; */
    border-radius: 16px;
    width: 100%;
    margin-top: 5%;
    right:0px ;
    left: 0;
  }

  .whitespace{
    height: 70px;
}
  /* -------------------------------------------- */
  .