*{
    box-sizing: border-box;
}
body{
    background-color: #ffec13;
    /* background-color: white; */
    margin:0;
    padding: 0;
}
Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #ffec13;
    /* margin-bottom: 50px; */
    text-transform: uppercase;
}
#tabs{
	background:#ffec13;
    color: rgb(0, 0, 0);
}
#tabs.section-title{
    color: rgb(0, 0, 0);
    font-size:30px;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000;
    background-color: transparent;
    border-color: transparent transparent #ffec13;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {start
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.cho-card-1{
    width: 170px;
    height: 100px;
    background-image: url("img/food1.jpg");
    background-size:cover;
    border-radius: 15px;
}

.cho-card-2{
    width: 170px;
    height: 100px;
    background-image: url("img/burger.jpg");
    background-size:cover;
    border-radius: 30px;
}
.menu-card{
    /* float: down; */
    background: #ffffff;
    /* width: 500px; */
    height: 500px;
    height: calc(100vh - 50px);
    border-radius: 90px 0px 0px 0px;
    margin-top: 150px;
    margin-bottom: auto;
    /* padding-left: 30px; */
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    background-attachment: fixed;
    overflow-y: auto;
    /* position: fixed; */
    /* height: 300px; */
    /* background: #2D2D2D; */
    /* border-top: 12px solid #3E3E3E; */
}
.image-1{
    width: 20%;
    margin-right: 2%;
}

.start{
    font-size: 30px;
    font-weight: bold;
    /* margin-top: 5%; */

}
.start-button{
    background: #ffec13;
    width: 60%;
    height: 30%;
    border-radius: 30px;
    
}
.image-1 img{
    border-radius: 0px 20px 10px 10px !important;
    width: 100% !important; 
    /* height: 60px; */
    /* background-image: url("img/burger.jpg"); */
    /* background-size: cover; */
    margin-right: 5%;
}

.addcart:visited{
    color: #ffec13;
}
.search-space{
    height:70px;
    width: 50px;
    /* background: #000000; */
}

.proceed{
    /* float:  */
    position: fixed;
    bottom: 0;
    height: 40px;
   
    margin:auto;
    background: #ffec13;
    border-radius: 30px;
    vertical-align: middle;
    text-align: center;


}

.solid{
    border-style: dotted;
    padding: 3%;
    margin: 4%;
}

.start-button {
    background-color: #ffec13;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
.button {
    position: fixed;
    bottom: 0;
    background-color: #ffec13;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    /* height: 80px; */
    border-radius: 16px;
    width: 100%;
  }
  .item-image img{
    width: 70px!important;
    border-radius: 50%;
    margin-left: 10%;
    margin-right: 30px;
    }

    .whitespace{
        height: 100px;
    }

    .stats{
        width: 100%;
        height: 7%;
        position: fixed;
        bottom: 0;
        background: #ffec13;
        padding: 3%;
        
    }
.invoice-message{
    text-align: center;
}
.invoice-head{
    font-size: 20px;
}