.body{
    margin: 5%;
    padding: 5%;
}
.alert{
    padding-top:50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    margin-top: 10px;
    /* margin-bottom: 60px;  */
}

.message-box{
    background: rgb(231, 233, 101);
    height: 110px;
    width: 90%;
    margin: auto;
    margin-top:60px; 
}

.message{
    vertical-align: middle;
    text-align: center;
    padding-top: 25px;
}
.button {
    position: fixed;
    bottom: 0;
    background-color: #ffec13;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    /* height: 80px; */
    border-radius: 16px;
    width: 100%;
  }