    body{
        background:white;
    }

    #counter{
        width: 10%;
        border: none;
        text-align: center;
    }

    .route{
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: blue;
        border-radius: 15px 15px 0 0;
        bottom: 0;
        color: white;
        text-align: center;
        padding-top: 10px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        display: none;
    }

    .topin{
        color: black;
    }

    .dynamictitle{
        color: blue;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        font-size: large;
    }

    .popup{
        background-color: rgba(128, 128, 128, 0.568);
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;

    }

    .cart{
        background-color: white;
        width: 90%;
        /* width: 10%; */
        height: 90%;
        margin: auto;
        vertical-align: middle;
        margin-top: 5%;
        border-radius: 15px;
        padding-top: 20px;
    }

    .whitespace{
        height: 50px;
        width: 30px;
        background-color: rgba(0, 128, 128, 0);

    }

    #online{
        color: blue;
    }