{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/tempstyle.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/white.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="something-else" style="position: relative;">
    <div class="back">
<a href="{{ url_for('tempcopy') }}"><i class="fas fa-angle-left"></i><span>Back</span></a>
</div>
<img src="{{ url_for('static',filename='img/noodles.gif')}}" class="head-image">
</div>

<section>

    <div class="container" >
        <div class="vending row">   
            <h5 class="section-head" class="popin" style="width:auto;" ><u>Indomie Bar</u></h5>        
            <!-- <h4 class="view-all-option" style="color: black;"><u>View all &#8594;</u></h4> -->
        </div>
    
    <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Indomie Bar</h6>
                <h6 class="weak">Yeah Nigga some more texttttt</h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">add</span>
    
            </div>
        </div>

        <div class="row" id="vrow">
            <div class="elipse">
            </div>
                <div class="definition">
                    <h6 class="topin">Indomie Bar</h6>
                    <h6 class="weak">Yeah Nigga some more texttttt</h6>
                </div>
                <div class="asdf">
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">add</span>
                </div>
            </div>
        </div>

        <a href="{{ url_for('tempcart')}}"><button class="button">Go to Cart &#8594;</button></a>

</section>


<script>
function changeColor(){
    document.getElementById('added').value = "added";
    document.getElementsByClassName('work').value = "added";

    document.getElementById('added-icon').style.color='blue';
    document.getElementById('added').style.color='blue';
}
</script>

{% endblock %}