<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/tempstyle.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/white.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Document</title>
</head>
<body onclick="dynamic(event)">

    
<div class="something-else" style="position: relative;">
    <div class="back">
<a href="{{ url_for('tempcopy') }}"><i class="fas fa-angle-left"></i><span>Back</span></a>
</div>
<img src="{{ url_for('static',filename='img/noodles.gif')}}" class="head-image">
</div>

<section>

    <div class="container" >
        <div class="vending row">   
            <h5 class="section-head" class="popin" style="width:auto;" ><u>Buenos Dias</u></h5>        
            <!-- <h4 class="view-all-option" style="color: black;"><u>View all &#8594;</u></h4> -->
        </div>

        <div class="vending row">   
            <h5 class="section-head" class="popin" style="width:auto; color: blue;" >Drinks</h5>        
        </div>

   <!-- <a href="{{ url_for("tempdescription")}}"> -->
        <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Cadbury</h6>
                <h6 class="weak">Yeah Nigga some more texttttt</h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">&#8373;5.00</span>
            </div>
        </div>
        <!-- </a> -->
    <!-- ---------------------------------------------------------------------- -->
   <!-- <a href="{{ url_for("tempdescription")}}"> -->
    <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Milo</h6>
                <h6 class="weak">Yeah Nigga some more texttttt</h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">&#8373;5.00</span>
    
            </div>
        </div>
        <!-- </a> -->
     <!-- ---------------------------------------------------------------------- -->
    <a href="{{ url_for("tempdescription")}}">
        <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Nescafe</h6>
                <h6 class="weak">Yeah Nigga some more texttttt</h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">&#8373;5.00</span>
    
            </div>
        </div>
    </a>
    <!-- ---------------------------------------------------------------------- -->

<!-- <u><h5 class="dynamictitle">Porridges</h4></u> -->
    <div class="vending row">   
        <h5 class="section-head" class="popin" style="width:auto; color: blue;" >Porridges</h5>        
    </div>


    <!-- ---------------------------------------------------------------------- -->
    <a href="{{ url_for("tempdescription")}}">
        <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Oats</h6>
                <h6 class="weak">Yeah Nigga some more texttttt</h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">&#8373;5.00</span>
    
            </div>
        </div>
        </a>
    <!-- ---------------------------------------------------------------------- -->


    <a href="{{ url_for("tempdescription")}}">
        <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Wheat</h6>
                <h6 class="weak"></h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">&#8373;5.00</span>
    
            </div>
        </div>
        </a>
    <!-- ---------------------------------------------------------------------- -->
   <a href="{{ url_for("tempdescription")}}">
    <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Tom Brown</h6>
                <!-- <h6 class="weak">Yeah Nigga some more texttttt</h6> -->
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">&#8373;5.00</span>
    
            </div>
        </div>
        </a>
    <!-- ---------------------------------------------------------------------- -->
    <a href="{{ url_for("tempdescription")}}">
        <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Rice Water</h6>
                <h6 class="weak">Yeah Nigga some more texttttt</h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">&#8373;5.00</span>
    
            </div>
        </div>
        </a>
    <!-- ---------------------------------------------------------------------- -->

   <a href="{{ url_for("tempdescription")}}">
    <div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >Ekoagbemi</h6>
                <h6 class="weak">Yeah Nigga some more texttttt</h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">add</span>
    
            </div>
        </div>
        </a>
        <div class="whitespace"></div>

    <!-- ---------------------------------------------------------------------- -->
        </div>

       <button class="button" onclick="showCart()">Go to Cart &#8594;</button>

</section>



<!-- -----------------------------------Cart----------------------------------- -->




<section class="popup" id="cart" style="display: none;">

    <div class="cart">
        <div class="container" id="holder">
        <!-- <h4>Cart</h4> -->
        <div class="vending row">   
            <h5 class="section-head" class="popin" style="width:auto;" ><u>Your Cart</u></h5>        
            <!-- <h4 class="view-all-option" style="color: black;"><u>View all &#8594;</u></h4> -->
        </div>
        <div class="row" id="vrow">
            <div class="elipse">
            </div>
                <div class="definition">
                    <h6 class="topin" >Ekoagbemi</h6>
                    <h6 class="weak">&#8373;5.00 x 1</h6>
                </div>
                <div class="asdf" onclick="changeColor()">
                    <i id="added-icon"class="fas fa-minus"></i><span class="work" id="added">delete</span>
        
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    orders = [];
function changeColor(event){
    document.getElementById('added').value = "added";
    document.getElementsByClassName('work').value = "added";

    document.getElementById('added-icon').style.color='blue';
    document.getElementById('added').style.color='blue';
}

function dynamic(event){
    button = event.target;
    var row = button.parentElement;
    var name = row.getElementsByClassName("topin")[0].innerHTML;
    var price = row.parentElement.getElementsByClassName("asdf")[0].innerText;
    console.log(price)
    orders.push(name,price)
    console.log(orders) 
       var cart = document.getElementsByClassName("cart")[0]
       var myVariable = document.getElementById("holder")
        var cartRow = document.createElement('div')
        var wosh = `<div class="row" id="vrow">
        <div class="elipse">
        </div>
            <div class="definition">
                <h6 class="topin" >${topin}</h6>
                <h6 class="weak">Yeah Nigga some more texttttt</h6>
            </div>
            <div class="asdf" onclick="changeColor()">
                <!-- Ghc 20.00 -->
                <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">add</span>
    
            </div>
        </div>`;
        cartRow.innerHTML = wosh;
        // myVariable.append(cartRow)
        console.log(myVariable)
       
        console.log(cartRow)
   }

   function showCart(){
    document.getElementById("cart").style.display = "block";
}

function hideCart(){
    document.getElementById("cart").style.display = "none";
}
</script>

</body>