{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/card.css')}}">
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="index.html">TNS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="menu.html">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cart.html">Cart</a>
        </li>
      </ul>
    </div>
  </nav>
<h4 class="top-thing">Your order is being processed</h4>

  <div class="summary-card">
    <div class="thanks text-center">
    <h4 class="one">Thank you for using The Night Shift</h4>
    <br>
    <h6>Your order id is</h6>
    <h1 class="big">20</h1>
    <br>  
    <h6>Estimated time of arrival is 10 minutes</h6>
    </div>
    <div class="Done">
      <h6 class="done" style="text-align: center; vertical-align: middle;">Order Again</h6 >
    </div>
    
    <!-- <button class="again">Lets do it again!</button> -->
    <div class="inner-summary-card">
      <!-- <div class="Total">
        <h4 class="total">your total:</h4>
        <h1 class="total-no">Ghc 30.00</h1>
      </div> -->
      <h4 class="comment" style="margin:auto;">Leave us a comment</h4>
    </div>
  </div>


{% endblock %}