{% extends 'base.html' %}
<!-- ------head tag---------- -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css')}}">
{% endblock %}
<!-- ---------body tag---------- -->
{% block body %}
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Number</th>
        <th>Complaints</th>
    </tr>
    {% for Complaints in all_issues %}
    <tr>
        <th>{{ Complaints.c_id }}</th>
        <th>{{ Complaints.c_name }}</th>
        <th>{{Complaints.c_number}}</th>
        <th>{{Complaints.c_complaints}}</th>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
<!-- ---------------- -->