<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{{ url_for('static',filename='css/tempstyle.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/white.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/091f1122a7.js" crossorigin="anonymous"></script>
  
<title>Document</title>
</head>
<body  onclick="myFunction()">
    
    <div class="something-else" style="position: relative;">
        <div class="back">
    <a href="{{ url_for('tempcopy') }}"><i class="fas fa-angle-left"></i><span>Back</span></a>
    </div>
    <img src="{{ url_for('static',filename='img/noodles.gif')}}" class="head-image">
    </div>
    
    <section>
    
        <div class="container" >
            <div class="vending row">   
                <h5 class="section-head" class="popin" style="width:auto;" ><u>Josephines</u></h5>        
                <!-- <h4 class="view-all-option" style="color: black;"><u>View all &#8594;</u></h4> -->
            </div>
        
            <a href="{{ url_for('jo_friedrice') }}">
        <div class="row" id="vrow">
            <div class="elipse">
            </div>
                <div class="definition">
                    <h6 class="topin" id="dynamic-title">Fried Rice</h6>
                    <h6 class="weak" id="dynamic-description">Vegetables, Eggs</h6>
    
                </div>
                <div class="asdf" onclick="changeColor()"id="dynamic-price">
                    <!-- Ghc 20.00 -->
                    <!-- <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added"> -->
                        &#8373;10.00
        
                </div>
            </div>
            </a>
    
            <a href="{{ url_for('jo_jollof')}}">
            <div class="row" id="vrow">
                <div class="elipse">
                </div>
                    <div class="definition">
                        <h6 class="topin">Jollof Rice</h6>
                        <h6 class="weak">Vegetable, Eggs, Beef </h6>
                    </div>
                    <div class="asdf">
                        &#8373;10.00
                    </div>
                </div>
                </a>

                <a href="{{ url_for('jo_waakye')}}">
                <div class="row" id="vrow">
                    <div class="elipse">
                    </div>
                        <div class="definition">
                            <h6 class="topin">Waakye</h6>
                            <h6 class="weak">Vegetable, Eggs, Beef, Sausages </h6>
                        </div>
                        <div class="asdf">
                            &#8373;10.00 
                        </div>
                    </div>
                    </a>

                    <div class="row" id="vrow">
                        <div class="elipse">
                        </div>
                            <div class="definition">
                                <h6 class="topin">Plain Rice</h6>
                                <h6 class="weak">Vegetable, Eggs, Beef, Sausages </h6>
                            </div>
                            <div class="asdf">
                                &#8373;10.00 
                            </div>
                        </div>

                       
                        <div class="row" id="vrow">
                            <div class="elipse">
                            </div>
                                <div class="definition">
                                    <h6 class="topin">Banku</h6>
                                    <h6 class="weak">Vegetable, Eggs, Beef, Sausages </h6>
                                </div>
                                <div class="asdf">
                                    &#8373;15.00 
                                </div>
                            </div>
            </div>
    
            <a href="{{ url_for('tempcart')}}"><button class="button">Go to Cart &#8594;</button></a>
        </section>
        
        
    <script>
    function changeColor(){
        document.getElementById('added').value = "added";
        document.getElementsByClassName('work').value = "added";
    
        document.getElementById('added-icon').style.color='blue';
        document.getElementById('added').style.color='blue';
    
        var dynamicname = document.getElementById('dynamic-title').innerHTML
        localStorage.setItem("dynamicnamee", dynamicname);
    
        var dynamicprice = document.getElementById('dynamic-price').innerHTML
        localStorage.setItem("dynamicpricee", dynamicprice);
    
        // var dynamicvendor = document.getElementById('dynamic-vendor').innerHTML
        // localStorage.setItem("dynamicvendorr", dynamicvendor);
        // console.log(dynamicvendor)
    }
    function inittt(event){
        // document.getElementsByTagName("BODY")[0];
        var buttonClicked = event.target;
        console.log(buttonClicked)
    }
    
    
    function myFunction(event) { 
      alert(event.target.nodeName);
    }
    </script>
    
</body>
</html>
