{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/tempstyle.css')}}">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mobile-top">
    <!-- <i class="fas fa-shopping-cart fa-2x"></i> -->
    <h5 class="popin" id="lil"><span id="light">tns</span><span class="another">ghana.</span></h5>
</div>
<div class="menu-card">
    
    <div class="container">
        <div class="scrolling-wrapper">
        <h5 class="popin" id="pop" style="color: blue;"><u>Cart</u></h5>
        </div>
<br>
            <div class="row" id="vrow" style="margin-bottom: 30px;">
                <div class="elipse">
                </div>
                    <div class="definition">
                        <h6 class="topin">Indomie Large x1</h6>
                        <h6 class="weak">Ghc 12.00 </h6>
                    </div>
                    <div class="asdf">
                    <!-- <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">add</span> -->
                    <i class="far fa-trash-alt"></i>

                </div>
                </div>

                <div class="row" id="vrow" style="margin-bottom: 30px;">
                    <div class="elipse">
                    </div>
                        <div class="definition">
                            <h6 class="topin">French Fries x1</h6>
                            <h6 class="weak">Ghc 17.00 </h6>
                        </div>
                        <div class="asdf">
                        <!-- <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">add</span> -->
                        <i class="far fa-trash-alt"></i>
    
                    </div>
                    </div>

                    <div class="row" id="vrow" style="margin-bottom: 30px;">
                        <div class="elipse">
                        </div>
                            <div class="definition">
                                <h6 class="topin">Rice Crispies x4</h6>
                                <h6 class="weak">Ghc 17.00 </h6>
                            </div>
                            <div class="asdf">
                            <!-- <i id="added-icon"class="fas fa-plus"></i><span class="work" id="added">add</span> -->
                            <i class="far fa-trash-alt"></i>
        
                        </div>
                        </div>

                
    </div>
    <a href="{{ url_for('tempcopy') }}"><button class="button">Check please!</button></a>
</div>
{% endblock %}