{% extends 'base.html' %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static',filename='css/white.css')}}">

{% endblock %}

{% block body %}
<div class="description-image">
    <img src="{{ url_for('static',filename='img/Basillisa 2 (1).png')}}" style="width: 100%;">

</div>

<!-- <img -->
<div class="description-card">
    <div class="row" id="desc-card">
        <div class="description-titles">
            <h6 class="description-disabled" id="it_vendor">_Pronto Woman</h6>
            <h3 class="description-header" id="it_name">Fried Rice</h3>
        </div>

        <div class="description-prices">
            <h6 class="description-disabled">PRICE</h6>
            <h3 class="description-header" id="it_price">Ghc30.00</h3>
        </div>
    </div>


            <h6 class="description-disabled" id="description-label">DESCRIPTION</h6>
            <h3 class="description-body" id="result">So you dier I have given you all of this space to express yourself, if you like fool you willl see what I will do to you erh</h3>
    <div class="description-action-buttons">
        <i class="fas fa-plus-circle fa-2x" id="desc-button" onclick="plus()"></i>
        <input type="number" id="counter" value="1"></span>
        <i class="fas fa-minus-circle fa-2x" id="desc-button" onclick="minus()"></i>

        <button class="add-to-cart" style="background-color: blue; margin-left: auto; color: white;" onclick="pushToLs()">Add TO Cart</button>
    </div>
</div>

<!-- input(type="text" value="2") -->

<script>

var count = 1;
var countEl = document.getElementById('counter');
    function plus(){
        count++;
        countEl.value = count;
        console.log(countEl)
    }
    function minus(){
      if (count > 1) {
        count--;
        countEl.value = count;
      }  
    }
function pushToLs(){
// Declarations for variables passing through local storage
    var it_name = document.getElementById('it_name').innerHTML;
    var it_price = document.getElementById('it_price').innerHTML;
    var it_quantity = document.getElementById('counter').value;
    var it_vendor = document.getElementById('it_vendor').innerHTML;
    console.log(it_vendor,it_name,it_quantity, it_price)
// Setting the items to send to localStorage as variables
localStorage.setItem("t_vendor", it_vendor);  
localStorage.setItem("t_name", it_name);
localStorage.setItem("t_price", it_price);
localStorage.setItem("t_quantity", it_quantity);



}
  // Retrieve
//   document.getElementById("result").innerHTML = localStorage.getItem("t_price");










</script>

{% endblock %}