{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <form action="/test" method="POST" style="margin: 4%">
        <h4>Please fill out this form to confirm your purchase.</h4>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="Name" id="Name" required>
        </div>
        
        <div class="form-group">
          <label for="Room">Room Number</label>
          <input type="number" class="form-control" name="Room" id="Room" required>
          <!-- <input type="submit" class="Checkout" placeholder="Checkout"> -->
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" class="form-control" name="phone" id="phone">
        </div>
        <div class="form-group">
            <label for="aphone">Other Number</label>
            <input type="text" class="form-control" name="aphone" id="aphone">
          </div>
        <div class="form-group">
          <label for="hostel">Hostel</label>
          <select class="form-control" id="hostel" name="hostel" required>
            <option>Boys Hostel</option>
            <option>Pronto</option>
            <option>Old Girls</option>
          </select>
        </div>
        <div class="form-group">
          <label for="block">Block</label>
          <select class="form-control" id="block" name="block" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>
        </div>
       
        <div class="trick-form">


          </div>

          <div class="total-form">


          </div>


        <div class="whitespace">
            <input type = "submit" value="Submit">
            <!-- <button type="submit" class="button"><a href="thanks.html">Submit</a></button> -->
          </form>

      
          <script>
var storedCho = JSON.parse(localStorage.getItem("cho"));
var objectCho = JSON.parse(localStorage.getItem("Hope"));
// var totalCho = JSON.parse(localStorage.getItem("Total"));
var totalCho = JSON.parse(localStorage.getItem("finalFigure"));
// var getObject = JSON.parse(localStorage.getItem('storeObj'))
  
// document.getElementsByClassName("food").innerText = localStorage.getItem("tItems");
var formHolder = document.getElementsByClassName('trick-form')[0]
    var theForm = document.createElement('div')
    // var formArray = array.innerHTML
    var formContent= `
    <label for = "food">Food</label>
    <input type="text" class="form-control" id="food" name="food" value="${objectCho}">
    </div>
    `
    theForm.innerHTML = formContent
    formHolder.append(theForm)

    var totalHolder = document.getElementsByClassName('total-form')[0]
    var theTotal = document.createElement('div')
    // var formArray = array.innerHTML
    var totalContent= `
    <label for = "food">Total</label>
    <input type="text" class="form-control" id="total" name="total" value="${totalCho}">
    </div>
    `
    theTotal.innerHTML = totalContent
    totalHolder.append(theTotal)
</script>
          
          
{% endblock %} 