{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="mobile-top">
    <i class="fas fa-shopping-cart fa-2x"></i>
    <span>The Night Shift</span>
</div>

<div class="menu-card">
    <!-- <div class="search-space"></div> -->
    <div class="container">
         <div class="scrolling-wrapper">
             <div class="vendor-active">
                 <h4>Top Picks</h4>
             </div>
             <div class="vendor">
                <h4>Top Picks</h4>
            </div>
            <div class="vendor">
                <h4>Top Picks</h4>
            </div>
            <div class="vendor">
                <h4>Top Picks</h4>
            </div>
            <div class="vendor">
                <h4>Top Picks</h4>
            </div>
            <div class="vendor">
                <h4>Top Picks</h4>
            </div>
         </div>
    </div>
<!-- Top Picks---------------------------------- -->
    <div class="scrolling-wrapper">
            <div class="food-preview">
                <img src="{{ url_for('static',filename='img/Intersect.png')}}">
                <h6 div class="main">French Fries</h6>
                <h6 div class="support">Ghc10.00</h6>

                <!-- <br> -->
            </div>
            <!-- <h6>DDD</h6> -->
            <div class="food-preview">
                <img src="{{ url_for('static',filename='img/Fries-porn.png')}}">
                <h6 class="main">woosh</h6 class="main">
                <h6 div class="support">Ghc10.00</h6>


             </div>
             <div class="food-preview">
                <img src="{{ url_for('static',filename='img/Fries-porn.png')}}">
                <h6 class="main">woosh</h6>
                <h6 div class="support">Ghc10.00</h6>


             </div>
</div>
<!-- End of Top Picks---------------------------------- -->

<section>
    
    <div class="container">
        <div class="wrapper">
    <div class="vending row">   
        <h4 class="section-head">Vendors</h4>        
        <h4 class="view-all-option">View all</span>
    </div>

    <div class="push row">
        <!-- start------------- -->
        <div class="vending-image">
            <img src="{{ url_for('static',filename='img/Exotic1.jpg')}}">
        </div>
        <div class="vending-name">
<h6 class="main">African Eats</h6>
<h6 class="support">JHHJ</h6>
        </div>
        <!-- end------------- -->

        <!-- start------------- -->
        <div class="vending-image">
            <img src="{{ url_for('static',filename='img/Exotic1.jpg')}}">
        </div>
        <div class="vending-name">
<h6 class="main">African Eats</h6>
<h6 class="support">JHHJ</h6>
        </div>
        <!-- end------------- -->

  

</div>

<div class="push row">
    <!-- start------------- -->
    <div class="vending-image">
        <img src="{{ url_for('static',filename='img/Exotic1.jpg')}}">
    </div>
    <div class="vending-name">
<h6 class="main">African Eats</h6>
<h6 class="support">JHHJ</h6>
    </div>
    <!-- end------------- -->

    <!-- start------------- -->
    <div class="vending-image">
        <img src="{{ url_for('static',filename='img/Exotic1.jpg')}}">
    </div>
    <div class="vending-name">
<h6 class="main">African Eats</h6>
<h6 class="support">JHHJ</h6>
    </div>
    <!-- end------------- -->



</div>





</div>
    
    
</section>
</div>


{% endblock %}
